{{ define "main" }}
<!-- CONTENT class="py-11" -->
<section>
    <div class="container">
      <div class="row" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
       <div class="col-12 col-md-4 col-lg-3" >
          <!-- Filters -->
 
          <!-- Filters -->
          <form class="mb-10 mb-md-0">
            {{- partial "section-left-menu.html" . -}}
          </form>
  
        </div>


        <div class="col-12 col-md-8 col-lg-9">
          <!-- Slider start -->

          <!-- Slider end -->
  
          <!-- Header -->

  
          <!-- Products Listing start-->
          <div class="row" id="grynn-products-holder-no">    
            {{ range .Pages }}
            <div class="col-6 col-md-4">
              <!-- Card -->
              <div class="card mb-7">
                <!-- Body -->
                <div class="card-body px-0">
                  <!-- Category -->
                  <div class="font-size-xs">
                    <a class="text-muted" href="shop.html"></a>
                  </div>
                  <!-- Title -->
                  <div class="font-weight-bold">
                    <a class="text-body" href="{{.Permalink}}">
                      {{ if eq (.Params.name) "" }}
                       {{ .title}}
                      {{end }}
                    </a>
                  </div>
                  <!-- Price -->
                  <div class="font-weight-bold text-muted">
                    {{.Params.price}}
                  </div>
                </div>
  
              </div>
  
            </div>
            {{ end }}
            <!-- product-->
          </div>
  

  
        </div>
      </div>
    </div>
  </section>

{{ end }}
