<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="icon" href="/assets/img/favicons/favicon.ico">

    <!-- Libs CSS -->
    <link  rel="stylesheet" href="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link  rel="stylesheet" href="/assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <link  rel="stylesheet" href="/assets/libs/flickity/dist/flickity.min.css">
    <link  rel="stylesheet" href="/assets/libs/highlightjs/styles/vs2015.css">
    <link  rel="stylesheet" href="/assets/libs/simplebar/dist/simplebar.min.css">
    <link  rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
    <link  rel="stylesheet" href="/assets/fonts/feather/feather.css">
    
    <link  rel="stylesheet" href="/css/swaabhi.css">

    <!-- Don't add defer async to stripe or netlify -->
    <script type="text/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!--script type="text/javascript" src="https://js.stripe.com/v3/"></script -->

    <link  rel="stylesheet" href="/css/grynn-cart.css">
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    
    <!-- Don't add defer async to stripe or netlify -->

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">

    <title>Shopper</title>
    <title>{{ .Params.page_title}} </title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KN678LF');</script>
      <!-- End Google Tag Manager -->
  </head>
