<!-- Hero Section-->
<!--nav class="navbar navbar-expand-lg navbar-inverse bg-inverse fixed-top bg-faded"-->
<!--nav class="navbar navbar-expand-lg navbar-inverse bg-inverse  bg-faded">
    <div id="login" data-netlify-identity-menu></div>
    <ul class="navbar-nav ml-auto">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-primary"  href="/cart/cart" >Cart (<span
                        class="total-count"></span>)</a>
                <button class="clear-cart btn btn-danger">Clear Cart</button>
            </div>
        </div>
    </ul>
</nav-->

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Secure Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class=" h-100 d-flex justify-content-center align-items-center">
                    <div class="payment-holder"></div>
                </div>

                <div class=" h-100 d-flex justify-content-center align-items-center">
                    <div class="signin-holder">
                        <p class="text-left">Sign in</p>
                        <p class="text-left">Have an account already?</p>
                        <!-- Add a simpler button: Simple button that will open the modal.-->
                        <div class="btn btn-outline-primary on-top-modal-body " data-netlify-identity-button></div>
                        <hr>
                        <p class="text-left">New to Grynn.com?</p>
                        <button type="button" class="btn btn-secondary" onclick="vGuestLogin()">Continue as
                            guest</button>

                        <br>
                    </div>
                </div>
                <div class="summary-holder">

                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Summary</p>
                    </blockquote>

                    <table class="table summary-holder-show-cart table-striped"></table>
                    <hr>
                    <div class="">Total Price: $<span class="summary-holder-total-cart"></span></div>
                    <br>
                    <table class="table summary-holder-user-details table-striped"></table>
                    <table class="table summary-holder-show-address table-striped"></table>
                </div>
                <div class="grynn-checkout-products" id="grynn-checkout-products"></div>
                <div class="form-holder"></div>
                <table class="show-cart table vCart"></table>
                <div class="vCart">Total price: $<span class="total-cart vCart"></span></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary vCart" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary vPrevious">Back</button>
                <button type="button" class="next-address btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>









<!-- Modal -->
<div class="modal" id="stripe-result-modal" tabindex="-1" role="dialog" aria-labelledby="stripe-result-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title" id="#stripe-result-modal-long-title">Result</h5>
            </div>

            <div class="modal-body">

                <div class="stripe-result-modal-body">

                </div>

            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stripe-result-modal"
                    data-show="false">
                    Close
                </button>
            </div>



        </div>
    </div>
</div>